{# AI generated (chatGPT) #}Known as {{gene_id}}, this protein features a prominent presence of {{ordered_ss[0][1]}} ({{ordered_ss[0][1]|round(1)}}%) and a significant amount of {{ordered_ss[1][0]}},and predominantly made up of {{top3_residues[0]}} and {{top3_residues[1]}} amino acids. The protein has an isoelectric point (pI) of {{isoelectric_point|round(2)}} and has {{sasa|round(2)}} Ångstroms squared of exposed surface.
